/* CSS Document */
.print-money-wrapper.alignleft {
	margin: 7px 24px 7px 0;
	margin-left: -168px;
}
.print-money-wrapper.aligncenter {
	overflow:hidden;
	margin-bottom: 7px;
    margin-top: 7px;
}
